<body class="text-center">
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
    <!-- <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control mb--1" formControlName="email"
    placeholder="Email address" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" formControlName="password"
     class="form-control mb-3" placeholder="Password" required="">

    <button class="btn btn-lg btn-primary btn-block" 
    type="submit">Sign in</button>
    <div>
    <p class="mt-3">Dont have an account? Sign Up!</p>
  </div>
  </form>
</body>
  
<!-- <div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="col s6">
        <h2 class="materialize-h2">Quiz In Angular</h2>
      </div>
      <div class="col s6">
        <img src="/assets/images/quizgo.jpg" style="height: 250px; width: 250px; " class="offset s3">
      </div>
      <div class="card-content">
        <form #registerForm = "ngForm" (ngSubmit)="onSubmit(Name.value,Email.value)">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input type="text" name="Name" #Name ngModel>
              <label>Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mail_outline</i>
              <input type="text" name="Email" #Email ngModel>
              <label>Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button class="btn-large btn-submit" type="submit">Start</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
