<body class="text-center">
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
    <!-- <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control mb--1" formControlName="email"
    placeholder="Email address" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" formControlName="password"
     class="form-control mb-3" placeholder="Password" required="">

    <button class="btn btn-lg btn-primary btn-block" 
    type="submit">Sign in</button>
    <div>
    <p class="mt-3">Dont have an account? Sign Up!</p>
  </div>
  </form>
</body>